@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: .3s ease;
}

/* Color */

:root {
    --PrimaryColor: hsl(215, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
}

/* Default Styling (Some of the code might not mean sense to you at this point but in we shall see how it gets into play later.....) */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.section {
    padding: 4rem 0 2rem;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon {
    font-size: 2rem;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
}

.btn {
    padding: .4rem 1.5rem;
    background: rgb(67, 143, 236);
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer; 
}

.btn a {
    color: rgb(255, 255, 255);
    font-weight: 500;
}

/* .btn:hover a {
    color: #fff;
} */

.secIntro {
    max-width: 70%;
    text-align: center;
    margin: 0 auto 2rem; 
}

.secIntro .secTitle {
    color: rgb(0, 0, 18);
    line-height: 1.5rem;
    padding-bottom: .5rem;
}

.secIntro p {
    font-size: 13px;
    color: rgb(137, 136, 136);
    font-weight: 500;
}

img,
video {
    width: 100%;
    height: auto;
}

input {
    font-size: 100%;
}

/* This is all for the default styling............ */

/* MEDIA QUERIES........... */

@media screen and (min-width:556px) {

    .mainContent,
    .singlePost {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:884px) {
    .mainContent {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width:1248px) {
    .container {
        width: 75% !important;
        margin: auto !important;
    }

    .section {
        padding: 5rem 0.3rem;
    }

    .secIntro {
        margin: 0 auto 3rem;
    }

    .secIntro .secTitle {
        line-height: 2rem;
        padding-bottom: 1rem;
        font-size: 2.2rem;
    }

    .secIntro p {
        font-size: 15px;
    }
}

::selection {
    background:  rgb(67, 143, 236);
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
    background: rgb(28, 27, 27);
}
::-webkit-scrollbar-thumb{
   background:  rgb(67, 143, 236);
   border-radius: 10px;
   cursor: pointer;
} 